@charset "UTF-8";

/* Paleta de cores:
    verde: #49a09d
    lilás: #5f2c82*/

* {
    font-family:Georgia, 'Times New Roman', Times, serif ;
    padding: 0px;
    margin: 0px;
    box-sizing:border-box;
}

body, html {
    background-color:#5f2c82;
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login {
    background-color: white;
    width: 250px;
    height: 500px;
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden; /*tudo fora da borda fica escondido. Antes de por a foto estava arredondado */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.52) ;
    transition: width 0.3s, height 0.3s;
    transition-timing-function: ease; /*suaviza animação */
}

section#login > div#imagem {
    display: block;
    background: #5f2c82 url(../imagens/entrada.jpg) no-repeat;
    height: 200px;
    background-size: cover;
    background-position: center center;
}

section#login > div#formulario {
    display: block;
    padding: 10px;
}

div#formulario > h1 {
    text-align: center;
    margin-bottom: 10px;
}

div#formulario > p {
    font-size: 1em;
}