@charset "UTF-8";

/* Paleta de cores:
    verde: #49a09d
    lilás: #5f2c82*/

* {
    font-family:Georgia, 'Times New Roman', Times, serif ;
    padding: 0px;
    margin: 0px;
    box-sizing:border-box;
}

body, html {
    background-color:#5f2c82;
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login {
    background-color: white;
    width: 250px;
    height: 515px;
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;    
    overflow: hidden; /*tudo fora da borda fica escondido. Antes de por a foto estava arredondado */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.52) ;
    transition: width 0.3s, height 0.3s;
    transition-timing-function: ease; /*suaviza animação */
    transform: translate(-50%, -50%);
}

section#login > div#imagem {
    display: block;
    background: #5f2c82 url(../imagens/entrada.jpg) no-repeat;
    height: 200px;
    background-size: cover;
    background-position: center center;
}

section#login > div#formulario {
    display: block;
    padding: 10px;
}

div#formulario > h1 {
    text-align: center;
    margin-bottom: 10px;
}

div#formulario > p {
    font-size: 1em;
}

form > div.campo {
    background-color: #5f2c82;
    border: 2px solid #5f2c82;
    display: block;
    width: 100%;
    height: 44px;
    border-radius: 8px;
    margin: 5px 0px;
}

div.campo > label {
    display: none;
}

div.campo > span {
    color: white;
    /*background-color: black;*/
    font-size: 2em;
    width: 40px;
    padding: 5px;
}

div.campo > input {
    background-color: #51b0ad;
    font-size: 1em;
    height: 100%;
    width: calc(100% - 44px);    
    border: 0px;
    border-radius: 8px;
    padding: 4px;
    transform: translateY(-11px); /*quando tiver animação, transformação, ideal como úlltima linha do seletor, para não dar incompatibilidade */
}

div.campo > input:focus-within {
    background-color: white;
}

form > input[type=submit] {
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: #49a09d;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form > input[type=submit]:hover {
    background-color: #2a5d5b;
}

form > a.botao {
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: white;
    border: 1px solid #49a09d;
    border-radius: 5px;
    text-decoration: none;
    color: #2a5d5b;
    padding-top: 5px;
    margin-top: 5px
}

form > a.botao:hover {
    background-color: #60d5d1;
}

span.material-symbols-outlined {
    font-size: 1.2em;
}
